.general-error-msg {
  background-color: white;
  color: #5a3822;
  text-align: center;
  padding: 2em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  font-family: 'Times New Roman', serif;
  flex-wrap: wrap;
}

.general-error-msg h1 {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
  border-bottom: 3px solid #d2a45b;
  padding-bottom: 0.5em;
}

.general-error-msg h2,
.general-error-msg h3 {
  font-size: 1.5rem;
  margin-bottom: 2em;
  margin-top: -10px;
  word-wrap: break-word;
  padding: 1%;
}

.general-error-msg img {
  width: 30%;
  margin: 2% auto;
  max-width: 30rem; 
  margin-top: 1rem;
  border-radius: 3%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}


.general-error-go-home-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #FFD700;
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
  margin-bottom: 20px;
}

.general-error-go-home-button:hover {
  background-color: #FFC300;
  transform: translateY(-2px);
}

.general-error-message {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .general-error-msg {
    padding: 1rem;
    height: calc(100vh - 4rem);
  }

  .general-error-msg h1 {
    font-size: 1.8rem;
  }

  .general-error-msg h2,
  .general-error-msg h3 {
    font-size: 1rem;
    margin-bottom: 1em;
  }

  .general-error-msg img {
    width: 50%;
  }

  .general-error-go-home-button {
    padding: 5px 10px;
    font-size: 12px;
  }
}
